* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5dc;
}

:root {
  --primary-width: 100%;
  --secondary-width: 30%;
  --primary-font-family: "Arial";
}

.container {
  width: var(--secondary-width);
  margin: auto;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 20px;
  font-family: var(--primary-font-family);
}

.anh1 {
  width: var(--primary-width);
  border-radius: 6px;
  margin-bottom: 0.8em;
}

.cost {
  color: green;
  font-weight: bolder;
}

.start_rate {
  color: orange;
}

.luachon > i {
  padding: 0.26em 0.3em;
  margin-top: 7px;
  margin-right: 0.15em;
  border-radius: 5px;
  background-color: rgb(217, 217, 255);
}

li {
  margin-top: 5px;
}

.add_gio_hang {
  background-color: orange;
  margin-top: 1em;
  border-radius: 4.5px;
  height: 25px;
  width: 150px;
}

ul {
  margin-block-start: 8px;
  margin-block-end: 19.2px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 10px;
}

.thongtinbosung {
  margin-bottom: 20px;
}

.luachon2 > i {
  padding: 0.26em 0.3em;
  margin-top: 7px;
  margin-right: 0.15em;
  border-radius: 5px;
  background-color: rgb(217, 217, 255);
}

.tinhnangnoibat > i {
  color: rgb(135, 135, 255);
  margin-top: 8px;
}

.tinhnangnoibat > span {
  margin-left: 5px;
}

.tinhnangnoibat {
  padding-bottom: 15px;
}

h2 {
  padding-bottom: 5px;
}

.huongdansudung > i {
  color: rgb(255, 191, 72);
  padding-bottom: 10px;
}

.huongdansudung > span {
  color: violet;
}

.tinhnangdacbiet {
  padding-top: 15px;
  color: red;
  padding-bottom: 15px;
}

.tinhnangdacbiet > i,
span {
  margin-top: 5px;
}

.chiasesanpham > a {
  margin-right: 20px;
  /* background-color: red; */
  border-radius: 5px;

  color: white;
}

.facebook > i {
  width: 90px;
}

.instagram > i {
  width: 90px;
}

.twitter > i {
  width: 80px;
}

.facebook {
  background-color: rgb(0, 0, 255);
  height: 50px;
  width: 200px;
}

.instagram {
  background-color: violet;
}

.twitter {
  background-color: rgb(112, 112, 250);
}

.chiasesanpham {
  padding-bottom: 15px;
}

textarea {
  width: var(--primary-width);
  height: 15vh;
  padding-bottom: 55px;
}
button {
  border-radius: 6px;
  height: 40px;
  width: 125px;
  color: white;
  background-color: rgb(137, 137, 255);
}

.container2 {
  width: var(--secondary-width);
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  font-family: var(--primary-font-family);
}

.anh2,
.anh3 {
  width: 45px;
  height: 45px;
}

.cost1 {
  color: green;
  font-weight: bolder;
  padding-left: 240px;
}
