body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fde7bb;
  font-size: 18px;
}

div {
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: 90px;
}

.message {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #fde7bb;
  border-color: #fc8f54;
  border-width: 3px;
  border-style: solid;
  border-radius: 12px;
  width: 600px;
  height: 50px;
}

.title {
  display: flex;
  margin: auto;
  width: 600px;
  height: 50px;
  text-decoration: underline;
}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  background-color: #fc8f54;
  flex-direction: column;
  width: 600px;
  height: 350px;
  gap: 40px;
  border-radius: 16px;
}

label {
  color: white;
  width: 400px;
}

input {
  height: 38px;
  border-radius: 16px;
  border-style: solid;
  width: 100%px;
}

button {
  width: 80px;
  height: 28px;
  background-color: white;
  border-style: solid;
  border-radius: 12px;
  margin-right: 320px;
}
