body {
  background-color: rgb(252, 197, 224);
}

.div1 {
  margin-top: 250px;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 169, 183);
  height: max-content;
  padding-top: 15px;
  padding-bottom: 15px;
}

.div2 {
  background-color: rgb(251, 217, 222);
  align-items: center;
  text-align: center;
  width: 50%;
  border-radius: 20px;
  padding: 25px;
  margin-left: 330px;
  padding-top: 10px;
  border-color: rgb(255, 107, 132);
  margin-bottom: 23px;
}

.button {
  width: 100px;
  border-radius: 20px;
  background-color: pink;
}

.input {
  border-radius: 20px;
  width: 280px;
  margin-bottom: 8px;
}

.get {
  font-weight: bold;
}

.loki {
  font-size: smaller;
}

.G {
  color: blue;
}

.oe {
  color: red;
}

.l {
  color: green;
}

.o {
  color: orange;
}
