* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box1 {
  background-color: rgb(255, 202, 211);
  align-items: center;
  text-align: center;
  width: 550px;
  height: 200px;
  margin: auto;
  margin-top: 200px;
  border-radius: 18px;
  border: 1px solid rgb(255, 108, 133);
  padding: 3vh;
}

.box0 {
  /* padding-top: 300px; */
  margin-top: 30px;
  margin: auto;
}

.box {
  background-color: rgb(255, 161, 177);
  height: 250px;
  width: 100%;
}

.button {
  border-radius: 20px;
  width: 100px;
  background-color: pink;
  margin-top: 10px;
}

.input {
  border-radius: 20px;
  width: 300px;
  margin-top: 10px;
}

.get_your {
  font-weight: bold;
  font-size: larger;
  margin-top: 10px;
}

.loki {
  font-size: smaller;
  margin-top: 10px;
}
